extends ./layout/index

block contenido
    main.container.mt-5
        h1.text-center #{pagina}

        blockquote.text-center Lee Sobre Nuestros Clientes y Sus Experiencias
        include ./layout/bloque_testimoniales
                

        .row

            .col-md-12
                h2.d-block.w-100.text-center Agregar Un Testimonial

                if(errores)
                    each error in errores
                        .alert.col.alert-danger.text-center= error.mensaje

            .row.justify-content-center.col
                .col-md-8
                    form(action="/testimoniales" method="POST")
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre(type="text" name="nombre", placeholder="Tu Nombre" , value=nombre, class="form-control")
                        .form-group
                            label(for="correo") Correo Electronico
                            input#correo(type="email" name="correo", placeholder="Tu Correo" , value=correo, class="form-control")
                        .form-group
                            label(for="mensaje") Mensaje
                            textarea#mensaje(name="mensaje", rows=3, placeholder="Tu Mensaje" , class="form-control")= mensaje

                        input.btn.btn-success.btn-block(type="submit")